version: '3.9'

services:
  backend:
    build: ./apps/backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=local

  frontend:
    build: ./apps/frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
